.footer{
    margin-top: 90px;
    .footer__orders{
        display: flex;
        gap: 30px;
        border-bottom: solid 1px ;
        .footer__orders__menu{
            .footer__orders__menu__ul{
                font-weight: 700;
                .footer__orders__menu__li{
                    margin-top: 10px;
                    font-weight: 200;
                    list-style: none;
                }
            }
        }
    }
    .footer__information__df{
        display: flex;
        .footer__information__text{
            margin-top: 20px;
            .footer__information__text__date{
                font-size: 10px;
            }
            .footer__information__text__desc{
                width: 659px;
                font-size: 12px;
            }
        }
        .footer__information__images{
            gap: 34px;
            display: flex;
            margin: 20px 110px;
        display: flex;
        .footer__information__image{
            height: 59px;
            width: 74px;
        }
        }
    }
}